<main class="grid grid-cols-2 gap-4">
  <textarea class="h-screen overflow-auto" name="markdownBox" id="editor" [(ngModel)]="markdownBox"
    (input)="convertToMD()"></textarea>
  <div class="h-screen bg-white text-black overflow-auto" id="preview">
    <h1 id="hellow-world">Hellow World</h1>
    <h2 id="welcome-to-markdown-previewer">Welcome to Markdown Previewer</h2>
    <h3 id="created-by-hanshal18">created by hanshal18</h3>
    <p>code like this, `&lt;span&gt;&lt;/span&gt;`, between 2 backticks.</p>
    <pre><code><span class="hljs-comment">// this is multi-line code:</span>
    
    <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">anotherExample</span><span class="hljs-params">(firstLine, lastLine)</span> </span>&#123;
      <span class="hljs-keyword">if</span> (firstLine == <span class="hljs-string">'```'</span> &amp;&amp; lastLine == <span class="hljs-string">'```'</span>) &#123;
        <span class="hljs-keyword">return</span> multiLineCode;
      &#125;		
    &#125;	
    </code></pre>
    <p>be bold like this <strong>bold</strong>... whoa!
      Or <em>italic</em>. like this
      Or... be classy both like this<strong><em>both!</em></strong>
      And scatch the code like this <del>crossing stuff out</del>.</p>
    <p>here&#39;s <a href="https://www.github.com/hanshal18">hanshal18 github link</a>, and</p>
    <blockquote>
      <p>Block Quotes!</p>
    </blockquote>
    <p>And if you want to get really crazy, even tables:</p>
    <table>
      <thead>
        <tr>
          <th>Wild Header</th>
          <th>Crazy Header</th>
          <th>Another Header?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Your content can</td>
          <td>be here, and it</td>
          <td>can be here....</td>
        </tr>
        <tr>
          <td>And here.</td>
          <td>Okay.</td>
          <td>I think we get it.</td>
        </tr>
      </tbody>
    </table>
    <ul>
      <li>lists works like this.<ul>
          <li>bulletttt.<ul>
              <li>level sabke niklenge.<ul>
                  <li>garam hai garam hai.</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ol>
      <li>number 1.</li>
      <li>number 2</li>
      <li>number 3</li>
    </ol>
    <p><img src="https://gravatar.com/avatar/1cbe80b4be93385f4eb44f3c03a3d175?size=256&amp;cache=1725694469686"
        alt="hanshal18"></p>

  </div>
</main>
<a href="https://github.com/hanshal18/Front-End-Development-Libraries/tree/main/markdown-previewer" target="_blank"
  rel="noopener noreferrer" class="p-1.5 bg-zinc-700 text-white fixed  top-2 right-2 rounded cursor-pointer"><img
    src="./github.png" alt="github logo"></a>

<footer class="w-full fixed bottom-5 flex justify-center items-center">
  <p class="p-1 bg-black rounded">crafted with ❤️ by <a href="http://github.com/hanshal18" target="_blank"
      rel="noopener noreferrer" class="text-white">hanshal18</a> as <a href="https://www.freecodecamp.org/hanshal18"
      target="_blank" rel="noopener noreferrer" class="text-white">freecodecamp project </a></p>
</footer>