<main class="w-full h-screen flex justify-center items-center">
  <div>
    <div class="grid grid-cols-4 gap-4">
      <input type="text" class="flex justify-end col-span-4 text-3xl w-full overflow-x-auto text-right" id="display" value="0" disabled/>
      <button type="button" class="btn" id="clear" (click)="display('clear')">AC</button>
      <button type="button" class="btn" id="DE" (click)="display('delete')">DE</button>
      <button type="button" class="btn" id="decimal" (click)="display('.')">.</button>
      <button type="button" class="btn" id="divide" (click)="display('devide')">/</button>
      <button type="button" class="btn" id="seven" (click)="display(7)">7</button>
      <button type="button" class="btn" id="eight" (click)="display(8)">8</button>
      <button type="button" class="btn" id="nine" (click)="display(9)">9</button>
      <button type="button" class="btn" id="multiply" (click)="display('multiply')">*</button>
      <button type="button" class="btn" id="four" (click)="display(4)">4</button>
      <button type="button" class="btn" id="five" (click)="display(5)">5</button>
      <button type="button" class="btn" id="six" (click)="display(6)">6</button>
      <button type="button" class="btn" id="subtract" (click)="display('subtract')">-</button>
      <button type="button" class="btn" id="one" (click)="display(1)">1</button>
      <button type="button" class="btn" id="two" (click)="display(2)">2</button>
      <button type="button" class="btn" id="three" (click)="display(3)">3</button>
      <button type="button" class="btn" id="add" (click)="display('add')">+</button>
      <button type="button" class="btn col-span-2" id="zero" (click)="display(0)">0</button>
      <button type="button" class="btn col-span-2" id="equals" (click)="calcu()">=</button>
      </div>
  </div>
</main>
<a href="https://github.com/hanshal18/Front-End-Development-Libraries/tree/main/calculator" target="_blank"
  rel="noopener noreferrer" class="p-1.5 bg-zinc-700 text-white fixed  top-2 right-2 rounded cursor-pointer"><img
    src="./github.png" alt="github logo"></a>

<footer class="w-full fixed bottom-5 flex justify-center items-center">
  <p class="p-1 bg-black rounded">crafted with ❤️ by <a href="http://github.com/hanshal18" target="_blank"
      rel="noopener noreferrer" class="text-white">hanshal18</a> as <a href="https://www.freecodecamp.org/hanshal18"
      target="_blank" rel="noopener noreferrer" class="text-white">freecodecamp project </a></p>
</footer>
